.cpcache
.nrepl-port
*.iml
out
/.secrets.txt
/pyjama-agents/.cpcache
/pyjama-io/pruns.csv
/pyjama-io/pruns.xlsx
/pyjama-io/pruns.csv
/pyjama-io/pruns.xlsx
.idea
/symmetry/.clj-kondo/
/symmetry/target/
/pyjama-agents/.clj-kondo/
/pyjama-slides/.clj-kondo/
/slippers/.clj-kondo/
/sample-lanterna/.clj-kondo/
**/target