[submodule "build-tools"]
	path = build-tools
	url = ./build-tools/
[submodule "linen"]
	path = linen
	url = ./linen/
[submodule "origami-pink"]
	path = origami-pink
	url = ./origami-pink/
[submodule "pillow"]
	path = pillow
	url = ./pillow/
[submodule "pyjama-cljs"]
	path = pyjama-cljs
	url = ./pyjama-cljs/
[submodule "pyjama-io"]
	path = pyjama-io
	url = git@github.com:hellonico/pyjama-io.git
[submodule "pyjama"]
	path = pyjama
	url = git@github.com:hellonico/pyjama.git
	branch = main
[submodule "waves"]
	path = waves
	url = ./waves/
[submodule "breeze"]
	path = breeze
	url = git@github.com:hellonico/breeze.git
[submodule "philosophers"]
	path = philosophers
	url = git@github.com:hellonico/philosophers.git
[submodule "skywalker"]
	path = skywalker
	url = git@github.com:hellonico/skywalker.git
[submodule "pyjama-slides"]
	path = pyjama-slides
	url = git@github.com:hellonico/pyjama-slides.git
[submodule "pyjama-agent-draft"]
	path = pyjama-agent-draft
	url = git@github.com:hellonico/pyjama-agent-draft.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:hellonico/secrets.git
[submodule "slippers"]
	path = slippers
	url = git@github.com:hellonico/slippers.git
[submodule "symmetry"]
	path = symmetry
	url = git@github.com:hellonico/symmetry.git
[submodule "pyjama-fx"]
	path = pyjama-fx
	url = git@github.com:hellonico/pyjama-fx.git
[submodule "sample-lanterna"]
	path = sample-lanterna
	url = git@github.com:hellonico/sample-lanterna.git
