{
 :paths ["src" "resources"]
 :deps  {org.clojure/clojure    {:mvn/version "1.11.1"}     ; Adjust to the desired Clojure version
         hellonico/pyjama
         {:local/root "../pyjama"}
         }

 :aliases
 {
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6" :git/sha "52cf7d6"}} :ns-default build}
  }
 }